
body {
  background-image: url('../images/back.jpg');
  background-size: cover;

  text-align: center;
  margin: auto;
  color: 	#ffffff;
  font-family: 'Gloria Hallelujah', cursive;
}
footer{
  background-color: #;
  height: 20px;
  bottom: 0px;
}
.main-nav{

  font-size: 35px;
}
.main-nav li{
  display: inline-block;
  padding: 10px;
}
@media (min-width:875px) {

  nav i.fa.fa-bars{
  /*display:none;*/
 }
}

@media (max-width: 875px) {
  .main-nav ul {
    display: none;
    padding: 1px;
    clear: both;
  }
}
#ham{
  padding-right:20px;
}
.project{
  display: inline-block;
}
