
body {
  background-image: url('../images/back.jpg');
  background-size: cover;

  text-align: center;
  margin: auto;
  color: 	#ffffff;
  font-family: 'Francois One', sans-serif;
  letter-spacing: .5em;
  text-transform: uppercase;
}
img {
  padding: 2em;
}
button {
  font-size: 1.5em;
  margin: 0 auto;
  display: block;
  margin-bottom: 2em;
  width: 60%

}
h3{
  color: white;
}
h1 {
  text-align: center;
  font-size: 3em;
  letter-spacing: 1em;
}
h4 {
  letter-spacing: .5em;
  text-align: center;
}
#blog{
  line-height: 2.5em;
  text-align: center;
  color: #FFEB00


}
.project {
  margin: 2em;
}
h2, p {
  font-size: 1.3em;
}
footer{
  background-color: #;
  height: 20px;
  bottom: 0px;
}
.main-nav{

  font-size: 35px;
}
.main-nav li{
  display: inline-block;
  padding: 10px;
}
@media (min-width:875px) {

  nav i.fa.fa-bars{

 }
}

@media (max-width: 875px) {
  .main-nav ul body {
    display: none;
    padding: 1px;
    clear: both;

  }
}
#ham{
  padding-right:20px;
}
.project{
  display: inline-block;
  color: #ED1E24;
}
.container {
  padding-bottom: 2em;
}
